@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom Colours */
  --color-black-primary: #000000;
  --color-black-secondary: #544E4E;
  --color-white-primary: #FDFDFD;
  --color-white-secondary: #F6F7F9;
  --color-blue-primary: #0052FF;
  --color-blue-secondary: #3D9CFB;
  --drop-shadow-black-secondary: -10px 20px 24px rgba(84, 78, 78, 0.4);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.j {
  width: 100%;
  height: fit-content;
  padding: 20px;
  background-color: var(--color-white-secondary);
}

.g {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}